ACCOUNT_IDENTIFIER="example.eu-west-1"
USER="example@example.com"
PRIVATE_KEY_FILE_PASSWORD="EXAMPLE_P8_KEY_FILE_PASSWORD"
SNOWFLAKE_WAREHOUSE="EXAMPLE_WAREHOUSE"
SNOWFLAKE_DATABASE="EXAMPLE_DATABASE"
SNOWFLAKE_SCHEMA="EXAMPLE_SCHEMA"